{% extends 'base.html' %}
{% block content %}

<body class='image'>

  <h1>My Destinations</h1>
  {% if any_trips %}
  {% if upcoming %}
  <h2>Upcoming trips</h2>
  {% for destination in upcoming %}
  <a href="{% url 'destination' destination.id %}">
    <div class="row">
      <div class="col s12 ">
        <div class="card ">
          <span class="card-title">{{ destination.location }}</span>
          <div class="card-content">
            <p>Start Date: {{ destination.start_date }}</p>
            <p>End Date: {{ destination.end_date }}</p>
            <p>Completed: {{ destination.completed }}</p>
            <br>
            <div class="card-action">
              <a class="btn" href="{% url 'destination_update' destination.id %}">Edit</a>
              <a class="btn" href="{% url 'destination_delete' destination.id %}">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
  {% endif %}
  {% if completed %}
  <h2>Completed trips</h2>
  {% for destination in completed %}
  <a href="{% url 'destination' destination.id %}">
    <div class="row">
      <div class="col s12 ">
        <div class="card ">
          <span class="card-title">{{ destination.location }}</span>
          <div class="card-content">
            <p>Start Date: {{ destination.start_date }}</p>
            <p>End Date: {{ destination.end_date }}</p>
            <p>Completed: {{ destination.completed }}</p>
            <br>
            <div class="card-action">
              <a class="btn" href="{% url 'destination_update' destination.id %}">Edit</a>
              <a class="btn" href="{% url 'destination_delete' destination.id %}">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
  {% endif %}
  {% else %}
  <div class="row">
    <div class="card ">
      <div class="card-content">
        <p>To see a list of your destinations, start by adding a new destination.</p>
      </div>
    </div>
  </div>

  {% endif %}

  {% endblock %}