{% extends 'base.html' %}
{% block content %}
<body class='image'>
 
<h1>My Destinations</h1>
<table class="centered highlight responsive">
    <thead>
      <tr>
       <th> Destination </th>
       <th>Start date</th>
       <th>End date </th>
       <th>Completed</th>
       <th> </th>
       <th> </th>
       

    </tr>
</thead>
<tbody>
{% for destination in destinations %}


<tr>
  <td>
    <a href="{% url 'destination' destination.id %}">
              <span>{{ destination.location }}</span>
            </a>
            </td>
         
            <td>Start Date: {{ destination.start_date }}</td>
            <td>End Date: {{ destination.end_date }}</td>
            <td>Completed: {{ destination.completed }}</td>
         
           <td><a class="btn" href="{% url 'destination_update' destination.id %}">Edit</a> </td>
           <td> <a  class="btn" href="{% url 'destination_delete' destination.id %}">Delete</a> </td>
        </div>
      </div>
    </div>
    </div>
  </div>
 </tr>
 {% endfor %}
</tbody>
</table>

{% endblock %}