{% extends 'base.html' %}
{% block content %}

<a href="{% url 'packing' destination.id %}">Packing List</a> |
<a href="{% url 'attractions' destination.id %}">Attractions</a>

<h1>{{ destination.location }}</h1>
<h5>from {{ destination.start_date }} to {{ destination.end_date }}</h5>
<p>{{ destination.completed }}</p>
<table class="striped">
    <thead>
        <tr>
            <th>Day of the week</th>
            <th>Date</th>
            <th>Weather</th>
        </tr>
    </thead>
    <tbody>
        {% for day in days %}
        <tr>
            <td><a href="{% url 'day' destination.id day.id %}">{{ day.weekday }}</a></td>
            <td>{{ day.date }}</td>
            <td>Weather</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}