{% extends 'base.html' %}
{% block content %}
<a href="{% url 'items' destination.id %}">Packing List</a> |
<a href="{% url 'attractions' destination.id %}">Attractions</a>
<div class="col s12 m7">
    <h2 class="header">{{ destination.location }}</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="{{ url_photo }}{{ obj.photo_reference }}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
<h5>from {{ destination.start_date }} to {{ destination.end_date }}</h5>
{% if destination.completed == False %}
<p class="light pink-text"> Current trip</p>
{% else %} 
<p class="light light-blue-text">Completed trip {% endif %}</p class="light pink-text"> 
<table class="striped light">
    <thead>
        <tr>
            <th>Day of the week</th>
            <th>Date</th>
            <th>Weather</th>
        </tr>
    </thead>
    <tbody>
        {% for day in days %}
        <tr>
            <td><a href="{% url 'day' destination.id day.id %}">{{ day.weekday }}</a></td>
            <td>{{ day.date }}</td>
            <td>Weather</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
</div>
<div class="card-action">
    <a href="{% url 'destination_update' destination.id %}" class="btn">Edit</a>
    <a href="{% url 'destination_delete' destination.id %}" class="btn">Delete</a>
        </div>
      </div>
    </div>
  </div>
 
{% endblock %}