{% extends 'base.html' %}
{% block content %}
<a class="btn" href="{% url 'destination' destination.id %}">Back to Itinerary</a> |
<a  class='btn' href="{% url 'attractions' destination.id %}">Attractions</a>
<div class="card">
<h1>Packing List for {{ destination.location }}</h1>
<table class="responsive highlight centered ">
    {% if items %}
    {% for item in unchecked %}
    <tr>
        <td>
            <a href="{% url 'item_check' destination.id item.id %}" class="">{{ item.name }}</a>
        </td>
        <td><a href="{% url 'item_delete' destination.id item.id %}" class="btn btn-small pink">Delete</a></td>
    </tr>
    {% endfor %}
    {% for item in checked %}
    <tr>
        <td>
            <a href="{% url 'item_check' destination.id item.id %}" class="grey-text" style="text-decoration: line-through 1px">{{ item.name }}</a>
        </td>
        <td><a href="{% url 'item_delete' destination.id item.id %}" class="btn btn-small pink">Delete</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td>
            <p>No packing list items yet</p>
        </td>
    </tr>
    {% endif %}
</table>
<br><br>
<form action="" method="post">
    {% csrf_token %}
    {{ item_form.as_table }}

    <input type="text" name="name" placeholder="What whould like to pack?" required>
    <input type="submit" class="btn "a value="Add Item">
</form>

</div>
{% endblock %}