{% extends 'base.html' %}
{% block content %}
<a href="{% url 'destination' destination.id %}">Back to Itinerary</a> |
<a href="{% url 'attractions' destination.id %}">Attractions</a>

<h1>Packing list for {{ destination.location }}</h1>

{% for item in items %}
<p>{{ item.name }}</p>
{% empty %}
<p>No packing list items yet</p>
{% endfor %}

<form action="" method="post">
    {% csrf_token %}
    {{ item_form.as_table }}
    
    <input type="text" name="name">
    <input type="submit" class="btn" value="Add Item">
</form>


{% endblock %}