{% extends 'base.html' %}
{% block content %}

	
				<h1> About PackAnimal</h1>
			
			</div>
		</div>
<div class="card one ">

   <h3>The Problem</h3>
   <p> You’ve got your suitcase open on your bed, your packing list scribbled on a notepad, the weather app open on your phone and your friends texting you the top attractions to hit on your upcoming trip. Outside of the more crucial aspects of trip planning - booking your flight, hotel and rental car - it can be a real hassle to keep track of everything else. </p>
    
    <h3>Our Solution</h3>
    <p>We tie up all those loose ends in a single platform that houses everything you’ll need to make your next trip a success - from suggesting activities to providing up to date weather information and a home for your all-in-one packing list.</p>
  </div>
 

    {% endblock %}