{% extends 'base.html' %}
{% block content %}

<h1> Discover attractions in {{location}}</h1>
{% for attraction in attractions %}
<div class="row">
    <div class="col s12 m4">
        <div class="card medium">
            <div class="card-image">
                <img class="responsive-img" src="{{ photo }}{{attraction.photo2}}">
            </div>
            <div class="card-content">
                <span class="card-title">{{ attraction.name }}</span>
                <p>rating: {{ attraction.rating }}</p>
            </div>
        </div>
    </div>

    {% empty %}
    <h1> Enter destinations to see popular attractions</h1>
    {% endfor %}
</div>

{% endblock %}