.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
	margin: 0;
	background:#fff;
	font-family: 'roboto', sans-serif;
  font-weight: 800;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.dest{
  background-image: url('https://i.imgur.com/3HxznrM.jpg') ;
background-size:  cover;
background-repeat: no-repeat;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: rgba(13, 110, 139, 0.75);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.brand-logo {
  float: left;
  padding: 10px 0;
  color:white;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


main {
  flex: 1 0 auto;
}
footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color:rgba(13, 110, 139, 0.75)
}
.color{
  background-color :rgba(246, 249, 250, 0.75);
}
.title{ 
  background:rgba(13, 110, 139, 0.75);

}
.custom{
  background:rgba(45, 45, 46, 0.7);
}

.background{
  color:white;
}
*{
  box-sizing:border-box;

}
html{
  margin:0;
  padding:0;
  width:100;
  height:100vh ;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto';
  font-weight:400;
  background: url('https://i.imgur.com/3HxznrM.jpg');
  background-position: center;
  background-size: cover;

}
 nav{
   padding: 8px;
 }
 .logo{
   float:left;
   padding :8px;
   margin-left:16px;
   margin-top: 8px; 

 }
 .logo a {
   color: #000000;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 18px;
   letter-spacing: 0px;
   text-decoration: none;

 }
  nav ul {
    float:right;

  }
  nav ul li {
    display: inline-block;
    float:left;
}
  nav ul li:not(:first-child){
    margin-left: 48px;

  }
nav ul li:last-child{
  margin-right: 24px;

}
nav ul li a {
  display: inline-block;
  outline: none;
  color:#000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;

}
nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


@media screen and (max-width:864px){
  .logo {
    padding:0;

  }
  .nav-wrapper {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:-1;
    background:#fff;
    opacity:0;
    transition: all 0.2s ease;
}
.nav-wrapper ul {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 100%;

}
.nav-wrapper ul li {
  display: block;
  float: none;
  width: 100%;
  text-emphasis: right;
  margin-bottom: 10px;
}
.nav-wrapper ul li:nth-child(1) a{
  transition-delay: 0.2s;
}
.nav-wrapper ul li:nth-child(2) a{
  transition-delay: 0.3s ;

}
.nav-wrapper ul li:nth-child(3) a{
  transition-delay: 0.4s ;
}
.nav-wrapper ul li:nth-child(4) a{
  transition-delay: 0.5s ;
}
.nav-wrapper ul li:not(:first-child)
{
  margin-left: 0;

}
.nav-wrapper ul li a {
  padding: 10px 24px;
  opacity:0;
  color:#000;
  font-size:14px;
  font-weight:600;
  letter-spacing:1.2px;
  transform: translateX(-20px);
  transition: all 0.3 ease;
}
.nav-btn{
  position: fixed;
  right:10px;
  top:10px;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index:9999;
  border-radius: 50%;
}
.nav-btn i {
  display: block;
  width:20px;
  height:2px;
  background: #000;
  border-radius: 2px;
  margin-left:14px;

}
.nav-btn i :nth-child(1){
margin-top: 16px;
}
.nav-btn i :nth-child(2){
  margin-top: 4px;
  opacity: 1;

}
.nav-btn i :nth-child(3){
  margin-top: 4px;

}
#nav:checked + .nav-btn{
  transform: rotate(45deg);

}
#nav:checked + .nav-btn i{
background:#000;
transition: transform 0.2s ease ;
}
#nav:checked + .nav-btn i:nth-child(1){
transform: translateY(6px) rotate(180deg);
}

}#nav:checked + .nav-btn i:nth-child(2){
opacity: 0;

}#nav:checked + .nav-btn i:nth-child(3){
  transform: translateY(-6px) rotate(90deg);

}
#nav:checked ~ .nav-wrapper{
  z-index: 9990;
  opacity:1;

}
#nav:checked ~ .nav-wrapper ul li a{
opacity: 1;
transform: translateX(0);

}
.hidden{
  display:none;


}