.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
	margin: 0;
  background-color: #115588;
  background-image: linear-gradient(19deg, #115588 0%, #21e4b3 100%);
  
	font-family: 'roboto', sans-serif;
  font-weight: 800;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: rgb(7, 58, 78);
}

.container {
	width: 80%;
	margin: 0 auto;
}

 body {
  /* background-image: url('https://i.imgur.com/BtQAvUX.png'); */
   background-size: cover;
  background-repeat: no-repeat; 
}


.brand-logo {
  float: left;
  padding: 10px 0;
  color:black;
}


nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: rgb(68, 68, 68);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: rgb(7, 58, 78);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.card{
 font-family: 'roboto', sans-serif;
 background-color: rgba(255, 255, 255, 0.72);
}
main {
  flex: 1 0 auto;
}
footer.page-footer {
  padding-top: 0;
  text-align: right;

}

.image{
  background-image: url('https://i.imgur.com/gEZM6tK.jpg');
}
h1{
  font-family: 'Roboto', sans-serif;
  text-align:center;
}
.about{
  background-image:url('https://i.imgur.com/iimHEQC.jpg');
}
.new{
  background-image:url('https://i.imgur.com/H9m8Neb.jpg');
}

a{
  color:rgb(7, 58, 78);
}
.dest{
  background-image: url('https://i.imgur.com/iroTG3R.png');
}
table{
  background-color: #fff;
}
.card{
font-family: 'Roboto', sans-serif;
text-align: center;
}

