.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
	margin: 0;
  background-color:#f0f5f9;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color:rgb(13, 110, 139);
}

.container {
	width: 80%;
	margin: 0 auto;
}

 body {
  /* background-image: url('https://i.imgur.com/BtQAvUX.png'); */
   background-size: cover;
  background-repeat: no-repeat; 
}


.logo {
  float: left;
 
  color: #fff;
  font-size: 18px;
  padding-bottom: 23px;

}


nav {
  
    color: #fff;
    background-color:#157896;
    width: 100%;
    height: 56px;
    line-height: 56px;
  

}
 
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;

  padding-top: 23px;

  position: relative;
}

nav a {
  color: rgb(68, 68, 68);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

nav a:hover {
  color:#f0f5f9;
}



nav a:hover::before {
  width: 100%;
}

.card{
 font-family: 'Raleway', sans-serif;
 background-color: #fff;
 border-radius: none;
 text-align: center;
}
main {
  flex: 1 0 auto;
}
.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #157896;
}

.image{
  background-image: url('https://i.imgur.com/gEZM6tK.jpg');
}
h1{
  font-family:'Raleway', sans-serif ;
  text-align:center;
}


.new{
  background-image:url('https://i.imgur.com/H9m8Neb.jpg');
}

a{
  color:rgb(7, 58, 78);
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  
}
a :hover{
  transform: translateY(-5px);
  color: #157896;
}
.dest{
  background-image: url('https://i.imgur.com/iroTG3R.png');
}
table{
  background-color: #fff;
}



.container1{
  width:100%;
  height:auto;
  display: flex;
  align-items: flex-start;
 flex-wrap: wrap;
 margin:0;
 padding:0;
}

.text{
  font-size: 30px;
  color:#fff;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 10px 10px #000;
}

.content{
  width:100%;
  height:auto;
  background-color: #fff;
  font-size: 23px;
  font-family: 'Raleway', sans-serif ;
  color:#333;
  line-height: 30px;
  text-align: center;
}


footer{

  height: auto;
  background-color: #157896;
  color: #fff;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
font-family:'Raleway', sans-serif ;
}

.one{
  padding: 30px;
}
.two{
  text-align: left;
  padding: 10px;
}
.btn {
  display: inline-block;
  transition-duration: 0.5s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  background-color: #157896
}
.btn:hover {
  background-color: #126680;
  transform: translateY(-1px);
}
.left img{
  height: 65px;
  padding:10px;
}
.location{
  float:left;
  padding-left: 20px;
}
#trip{
 margin-left: 30%;
margin-bottom: 20px;
}

#right{
  margin-left: 45%;
  margin-bottom: 2%;
}
#right1{
  margin-left: 65%;
  margin-bottom: 1%;
}